
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,legend {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 100%;
}
#main-wrapper {
    text-align: center;
    background-color: #FFFFFF;
    font-size: 12px;
    overflow: hidden;
}

#content-wrapper {
    background-color: #FFF;
    margin: 10px auto 10px auto;
    padding-top: 10px;
}

#content {
    text-align: left;
    width: 625px;
    margin: 10px 8px 20px 0;
    padding: 0 0px 20px 0px;
    float: left;
    position: relative;
    font-size: 1.1em;
}

#sidebar {
    text-align: left;
    width: 320px;
    margin: 10px 0px 20px 0px;
    float: right;
    position: relative;
    color: #333;
}

#footer {
    clear: both;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #e2e2e2;
}

#bottom {
    text-align: center;
    background: #fff;
    padding: 10px 0 20px 0;
    font-size: 12px;
    color: #a1a1a1;
}

.content {
    width: 954px;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #000;
    font: 62.5%/200% Helvetica,Arial,sans-serif;
    text-align: center;

  clear: both;
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: Georgia,serif;
}

a {
    text-decoration: none;
    color: #821122;
}

#content h2 {
    color: #000;
    font-size: 24px;
    padding: 0.8em 0 0.5em 0;
    line-height: 1.2em;
}

#content h3 {
    color: #000;
    font-size: 20px;
    line-height: 1.2em;
    padding: 1.0em 0 0.7em 0;
}

#content h4 {
    font-size: 14px;
    color: #333;
}

.entry ul,.entry-content ol {
    margin-left: 30px;
    margin-bottom: 1.9em;
}


p {
margin-bottom: 1.9em;
}


.tip {
  display: block;
  width: 155px;
  margin-left: 670px;
  height: 0px;
  font-size: 0.75em;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.35em;
}

