<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title> Detecting and Plotting Sequence Changes</title>
<link rel="stylesheet" href="css/prism.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
</head>

<body>
  <div id="main-wrapper">
    <div id="content-wrapper" class="content">
      <div class="post" id="post-34561">
        <div id="content" class="single-long entry-content entry">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <script src="js/prism.js"></script>
</body>

 

